@media screen and (min-width: 600px) {
  .app {
    width: 90%;
    margin: 40px auto 40px auto;
    max-width: 1200px;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 40px;
  }
  .control_panel_navlink {
    padding: 0;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    border: 2px solid black; 
  }
  .control_panel_navlink:hover {
    color: white !important;
    border-color: black;
    background: black;
    transition: 0.2s;
    box-shadow: 0 1px 10px 1px gray;
  }
  .control_panel_navlink_active {
    background: black;
    color: white !important;
  }

  .control_panel_navlink_unactive {
    color: rgb(182, 182, 182) !important;
    border: 2px solid rgb(182, 182, 182);
  }
  .page_label {
    background: black !important;
    padding: 0;
    text-decoration: none;
    background: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-size: 0.8rem;

    display: flex;
    align-items: center;
    justify-items: center;
  }
}