@media screen and (min-width: 600px) {
    .device_page {
        display: grid;
        grid-template-columns: 250px 600px;
        gap: 20px;
    }
    .device_page h5 {
        color: gray;
        margin-bottom: 10px;
    }

    .device_attributes {
        display: grid;
        background: white;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 10px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 3px 5px 1px lightgray;
    }
    .device_attributes > div {
        padding: 8px;
    }
    .device_attributes > div > p {
        font-size: 0.4rem;
        font-weight: 700;
        color: gray;
    }
    .device_attributes > div {
        border: solid 2px rgb(234, 234, 234);
        border-radius: 4px;
    }
    .attribute_color, .attribute_color_inactive {
        margin-top: 3px;
        width: 12px;
        height: 12px;
        border-radius: 5px;
        border: 2px gray solid;
    }
    .attribute_color_inactive {
        background: none;
        border-style: dotted;
    }
    .graphic_attribute {
        border: none !important;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        place-content: center;
    }
    .attribute_value {
        font-size: 0.8rem;
    }
    .uuid_attribute {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .label_attribute {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .device_configuration {
    }
    .device_configuration_options {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .label_options {
        resize: none;
        width: 500px;
        font-size: 1rem;
        padding: 10px;
        border: none;
        box-shadow: 0 3px 5px 1px lightgray;
    }

    .device_configuration_options > div > p {
        font-size: 0.8rem;
        font-weight: 700;
        color: gray;
        margin-bottom: 5px;
    }
    .device_configuration_options > div > div {
        display: flex;
        gap: 12px;
    }
    .device_configuration_options > div > div > button {
        padding: 0;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.8rem;
        border: 2px solid rgb(182, 182, 182); 
        background: none; 
        color: rgb(182, 182, 182);
    }
    .device_configuration_options > div > div > button:hover {
        color: white !important;
        border-color: black;
        background: black;
        transition: 0.2s;
        box-shadow: 0 1px 10px 1px gray;
    }
    .device_configuration_options > div > div > .option_selected {
        color: white !important;
        border-color: black !important;
        background: black !important;
        font-weight: 700 !important;
    }
    .color_options {
        gap: 10px !important;
    }
    .color_options > button {
        width: 25px !important;
        height: 25px !important;
        padding: 0 !important;
    }
    .color_options > button:hover {
        box-shadow: none !important;
        border-color: black;
    }
    .color_options > .color_selected {
        border-color: black !important;
    }
    .red_color_option {
        background: rgb(255, 0, 0) !important;
    }
    .orange_color_option {
        background: rgb(255, 190, 0) !important;
    }
    .yellow_color_option {
        background: rgb(255, 255, 0) !important;
    }
    .blue_color_option {
        background: rgb(0, 0, 255) !important;
    }
    .white_color_option {
        background: rgb(255, 255, 255) !important;
    }
    .mode_options {
    }
    .device_options {
    }
}