@media screen and (min-width: 600px) {

    .home {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .home h2 {
        margin-bottom: 30px;
    }
    .devices_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        justify-content: space-between;
        gap: 50px;
    }

    .groups_container {
        display: grid;
        gap: 18px;
        grid-template-columns: repeat(3, 1fr);
    }

}
