@media screen and (min-width: 600px) {

    .home {
        display: flex;
        flex-direction: column;
    }
    .home h2 {
        margin-bottom: 30px;
    }
    .connected_devices_header {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .refresh_button {
        height: min-content;
        width: min-content;
    }
    .refresh_icon {
        font-size: 1.2rem;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 100
    }
    .devices_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        justify-content: space-between;
        gap: 50px;
    }

    .groups_container {
        display: grid;
        gap: 18px;
        grid-template-columns: repeat(3, 1fr);
    }

}
